body {
    background-color: lightblue;
    margin: auto;
}
.textContainer, .header {
    display: block;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    background-color: white;
    border: 2px solid black;
}
.textContainer h2 {
    text-align: left;
    font-size: 20px;
}
.header {
    margin-top: 60px;
    text-align: center;
    width: 35%;
    font-size: 14px;
}
#otherInformation {
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
}   
.navbar li .active {
    color: lightblue;
}
.navbar li {
    display: inline-block;
    float: left;
}
.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #111;
}
#properties {
    font-size: 20px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
    width: 75%;
}
#description {
    width: 60%;
}
#properties tr:hover {
    background-color: lightblue;
}
#properties td{
    padding: 10px;
}
#properties tr, td, th, table {
    border: 2px solid black;
}
.infoWrapper {
    display: block;
    text-align: center;
    width: 268px;
    margin: auto;
}
.otherInfoContainer {
    float: left;
    background-color: white;
    border: 2px solid black;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    width: 120px;
    text-align: center;
}
.propImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 2px solid black;
}